.jumbotron{
    margin-top: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 3rem;
}

.img{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    background-color: red;
}